/* INDEX.HTML */

*{
    margin: 0px;
    padding: 0px;
}

#h1{
    margin: 0;
}

#body{
    height: auto;
    overflow-x: hidden;
}

body{overflow-x: hidden;}


.aos-init:not(.aos-animate):after {position: fixed;}


.navbar{
    height: auto;
    margin: 0 auto;
    width: 1000px;
    margin-top: 60px;
    
}

.checkbtn{
    font-size: 30px;
    color:rgb(255, 49, 49);
    float: left;
    padding-left: 30px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.logo{
    height: auto;
    background: black; 
    border-color: black;
    color: black;
    padding-top: 1px;
    padding-bottom: 50px;
    background-size: contain;
    width: 100%;
    content: "";
    position: sticky;
    top: 0;
    z-index:200;
}

.navitem-navlink{
    position: relative;
}

.navitem-navlink::before{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 49, 49);
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.navitem-navlink:hover::before{
    transform: scaleX(.65);
    transform-origin: bottom center;
}



.navitem-navlink:focus::before{
    transform: scaleX(1);
}



.site-title{
    background: black; 
    margin-top: 30px;
    text-align: center;
    font-size: 70px;
    font-family: 'Bebas Neue', cursive;
    height: fit-content;
    line-height: 40px;
}

.site-title-2{
    background: black; 
    text-align: center;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    height: fit-content;
    line-height: 40px;
}


.popnerd{

    position: absolute;
    left: 50%;
    top: 43%;
    -webkit-transform: translate(-50%, -50%);
    transform: scale(0.9) translate(-50%, -50%);

    background: black; 
    position: absolute;
    content: "";


}

.popnerd p{
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 28px;
    margin-top: -10px;

}


a{
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    color:rgb(255, 49, 49);
}


.box1 {
    float: center;
    line-height: 50px;
    height: 75vh;
    width: 100%;    
    background: rgba(0, 0, 0, 0.4) url('./images/background.png') no-repeat center fixed; 
  
    background-blend-mode: darken;
    background-size: cover;
    background-position: 0 0px;  
    padding-top: 200px;  
}

.box1 h1{
    text-align: center;
    font-size: 120px;
    font-family: 'Bebas Neue', cursive;
    color: white;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.767);
}


.box1 .learnbutton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.learnbutton button{
    margin-top: 0px;
    background-color: rgb(255, 49, 49);
    border: none;
    border-radius: 30px;
    font-family: 'Bebas Neue', cursive;
    color: white;
    padding: 0px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
}

.learnbutton button:hover{
    font-size: 25px;
}

.carousel-item{
    height: 550px;
}

.box2 {
    height: 550px;
    width: 100%;
    background-size: cover;
    background-position: center;  
    position: relative;
}


.box2 .container2{
    width: 100%;    
    position: relative; 
    overflow: auto;
} 

.box2 h1{
    color: white;
    font-family: 'Orbitron', sans-serif;
    padding-top: 0px;
    font-size: 120px;
    box-sizing:content-box;
    margin: auto;
    text-align: center;
}

.box2 p{
    text-align: center;
    font-size: 15px;
    font-family: 'Orbitron', sans-serif;
    color: white;
}

.transparent img{
    position: absolute;
    width: 30%;
    bottom: 0;
    max-width: 400px;
    margin-left: 50px;
    z-index:1;

    padding-top: 200px;
}

.item3 img{
    margin-left: 100px;
    scale: 200%;
}


.box2 .explorebutton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0%;
    font-size: small;
}


.explorebutton button{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 30px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(180, 45, 45);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
}

.explorebutton button:hover{
    font-size: 25px;
}

.box3 {
    height: 600px;
    width: 100%;    
    background: rgba(0, 0, 0, 0.8) url('images/city.png') no-repeat center fixed; 
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-position-y: 50px;    
    padding-top: 25vh;
}

.box3 h1{
    text-align: center;
    font-size: 120px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(255, 255, 255);
    margin: none;
}

.box3 .shopbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    padding-top: none;
    margin: none;
    position: relative;
    bottom: 20px;
}

.shopbutton button{
    margin-top: 0px;
    background-color: rgb(55, 91, 116);
    border: none;
    border-radius: 30px;
    font-family: 'Bebas Neue', cursive;
    color: white;
    padding: 4px 14px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

.shopbutton button:hover{
    font-size: 30px;
    color: rgb(92, 150, 189);
}


.box4 {
    line-height: 0px;
    padding-top: 25px;
    height: 450px;
    width: 100%;    
    background: rgb(255, 145, 0)  ;    
}

.box4 img{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:10%;
    padding-left: 50px;
}

.creators {
    color:white;
    font-size: 35px;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    size: 10%;
}

.box4 h1{
    font-weight: 60;
    text-align: center;
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(255, 255, 255);
    margin: none;
    padding-top: 20px;
}

.box4 h2{
    font-size: 85px;
    padding-right: 50px;
    padding-left: 50px;   
}

.box4 p{
    color:rgb(238, 238, 238);
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 0px;
    padding-left: 50px;
    size: 10%;
}


.box5 {
    line-height: 25px;
    height: 750px;
    width: 100%;    
    background: rgba(0, 0, 0, 0.8) url('images/ash.png') no-repeat center fixed; 
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-position-y: 50px;    
    padding-top: 250px;
}


.box5 p{
    color:rgb(187, 187, 187);
    
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    size: 10%;

    padding-left: 10px;
}


.box5 .about{
    max-width:920px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-left: 12px solid rgb(255, 145, 0)  ;   
}

.box5 .collabs{
    display: flex;
    justify-content: left;
    align-items: center;
}

.box5 img{
    max-width: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.box6 {
    padding-top: 40px;
    height: 150px;
    width: 100%;    
    background: black;   
}

.box6 a {
    color:rgb(48, 133, 167);
    font-size: 17px;
    font-family: 'Bebas', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    size: 10%;  
}

.box6 ul{
    padding: none;
}


.pfp{
    padding-left: 10px;
    padding-right: 10px;
    float: center;
    color: rgb(207, 207, 207);  

    display: flex;
    justify-content: center;
    align-items: left;
}


.usocials{
    display: flex;
    justify-content: left;
    align-items: left;
    padding: none;
}

.usocials i{
    padding-left: 10px;
    padding-right: 10px;
    float: center;
    color: white;

    display: flex;
    justify-content: center;
    align-items: left;
}

.usocials i:hover{
    color: rgb(255, 0, 0);
}

.socials{
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials i{
    padding-left: 19px;
    padding-right: 19px;
    float: center;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.socials i:hover{

    color: rgb(255, 49, 49);

}

html{
    background: black; 

}


/* POPUP */

/* The Modal (background) */
#popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  }

  #popupcontents {
    position: relative;
    background-color: rgb(255, 136, 0);
    margin: 20% auto;
    padding-bottom: 50px;

    border: 1px solid #888;
    border-radius: 10px;
    width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation: fadeIn 2s;

    font-size: 25px;
    align-content: center;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  #signup{
    font-size: 65px;
  }

  .popup button{
    font-family: 'Bebas Neue', cursive;
    width: 250px;
    height: 24px;
    border: 2px;
    font-size: 20px;

    color: white;
    background-color: rgb(255, 49, 49);

  }

  .popup input{
    margin-top: 20px;
    font-family: 'Bebas Neue', cursive;
    width: 248px;
    margin-left: 3px;
    height: 20px;
    font-size: 20px;

  }

  .popup p{
      margin-top: -15px;
      color: rgba(0,0,0,0.35);
  }

  #popupcontents h2{
    color: white;
    font-size: 70px;
}

#closepopup{
    font-family: 'Ubuntu', sans-serif;

    margin-left: 550px;
    margin-top: 15px;
    border: 2px;
    font-size: 20px;

    color: white;
    background: none;
}
  


/* RESPONSIVE */
@media screen and (max-width: 1550px) {

    .box2 h1{
        text-align: center;
        font-size: 70px;
    }
}

@media screen and (max-width: 1300px) {

    .box1 h1{
        font-size: 80px;
    }

    .learnbutton button{
        border-radius: 25px;
        padding: 0px 13px;
        font-size: 18px;
    }


    .box2 h1{
        text-align: center;
        font-size: 70px;
    }
    
    .box2 p{
        font-size: 15px;
        padding-left: 0%;
    }
    
    .transparent img{
        display: none;
    }

    .explorebutton button{
        border-radius: 30px;
        padding: 5px 10px;
        font-size: 17px;
    }

    
    .box4 h1{
        font-size: 50px;
    }
    
    .box4 h2{
        font-size: 55px;  
    }
    

}

@media screen and (max-width: 700px) {
    .box5 p{
        font-size: 15px;
    }
    

    
    .box5 img{
        max-width: 350px;
    }

}

@media screen and (max-width: 500px) {

    .box1 h1{
        font-size: 50px;
    }

    .learnbutton button{
        border-radius: 15px;
        padding: 0px 9px;
        font-size: 15px;
    }

    .box2 h1{
        text-align: center;
        font-size: 50px;
    }
    
    .box2 p{
        font-size: 12px;
        padding-left: 0%;
    }

    .box4 {
        height: 750px;

    }
    
    .usocials2{
        padding-top: 50px;
    }
    
    .creators {
        display: grid;
    }
    

    

}












